
#btnOpen{
-fx-background-color:"#028ad9";
}
#btnOpen:hover{

-fx-background-color:"#0286d2";
}
#btnLogin,#btnNew{
-fx-background-color:"#028ad9";
}

#btnLogin:hover{

-fx-background-color:"#0286d2";
}
#btnNew:hover{

-fx-background-color:"#0286d2";

}
#homePane{
   -fx-
}
